<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><%=appName%></a>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <!-- TODO: Make latest page -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Discover</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">Search</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">Privacy Policy</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">Help</a>
                </li>
            </ul>
            <% if(slug){ %>
            <div class="my-2 my-lg-0">
                <a href="{{redirectUrl}}">
                    <img src="<%=profile_picture_src%>" id="profilePicture" class="profile-image img-circle" width="32">
                </a>

                <a class="btn btn-danger btn-sm btn-lg" href="/api/logout">
                    Log Out
                </a>
            </div>
            <% } %>

        </div>
    </div>
</nav>