#mainJumbotron {
    background-color: #1DB954;
    color: whitesmoke;
}

#loginSpotifyButton {
    background-color: whitesmoke;
    color: #1DB954;
    border: none;
}

#goToSpotifyButton {
    background-color: #1DB954;
    color: whitesmoke;
    border: none;
}